<mat-grid-list cols="32" rowHeight="3:1">
  <mat-grid-tile [colspan]="1" [rowspan]="30">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="5" [rowspan]="5">
    <mat-form-field>
      <input matInput placeholder="Müşteri">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="31" [rowspan]="1">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="5" [rowspan]="5">
    <mat-form-field>
      <input matInput placeholder="Cephe Sayısı">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="3">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="3">
    <button mat-raised-button color="primary">İleri</button>
  </mat-grid-tile>
</mat-grid-list>